.exclusive-games {
    background-image: url(../img/exclusive-games/title-img-rectangle.jpg);
    background-position: center;
    background-size: cover;
}

/* заголовок */

.exclusive-games__title {
    font-family: "HelveticaNeue";
    font-size: 36px;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 97px;
}

/* карточки */

.exclusive-games__wrapper-card {
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.exclusive-games__card {
    background: #fff;
}
.exclusive-games__content {
    padding: 21px 21px 21px 21px;
}
/* текс карточки */

.exclusive-games__text-title {
    font-family: "HelveticaNeue";
    font-size: 18px;
    font-weight: 600;
    padding-top: 22px;
    color: #435766;
}

.exclusive-games__text-subtitle {
    font-family: "HelveticaNeue";
    font-size: 21px;
    font-weight: 600;
    padding-top: 16px;
    color: #435766;
}

/* кнопка каарточки */

.exclusive-games__btn {
    display: block;
    font-family: "HelveticaNeue";
    font-size: 16px;
    color: #fff;
    background: #8DD83D;
    border: none;
    outline: none;
    padding: 20px 100px 20px 100px;
}