/* общая обертка */

.slider {
    background-image: url(/img/slider/star-wars.jpg);
    height: 900px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* заголовок */

.slider__title {
    position: absolute;
    font-size: 36px;
    color: #fff;
    font-family: "HelveticaNeue";
    font-weight: 600;
    padding-left: 600px;
    padding-bottom: 200px;
}

.slider__wrapper-btn {
    padding-left: 680px;
}