/* общая обертка */
.slider {
    background-image: url(/img/slider/star-wars.jpg);
    height: 900px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* заголовок */
.slider__title {
    position: absolute;
    font-size: 36px;
    color: #fff;
    font-family: "HelveticaNeue";
    font-weight: 600;
    padding-left: 600px;
    padding-bottom: 200px;
}
/* общий класс кнопок */
.general-btn {
    height: 38px;
    font-family: "HelveticaNeue";
    color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
}
/* кнопка */
.trailer {
    width: 136px;
    background: #8DD83D;
}
/* кнопка */
.explore-games {
    width: 148px;
    background: #686C6F;
}
/* обертка кнопок */
.slider-wrapper__btn {
    padding-left: 720px;
}